---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

#logo-wrap{
  border:2px solid $orange;
}
#logo-pizzeria{
  top:-1.25rem;
  @include breakpoint(m) {
    top:-2rem;
  };
  h1{
    >span{
      display:inline-block;
      width: 9rem;
      height: 2.5rem;
      padding:0 1rem;
      border-right:1.5rem solid $charcoal;
      border-left: 1.5rem solid $charcoal;
      @include breakpoint(m) {
        width: 14rem;
        height:3.5rem;
      };
      //border-radius: 50%;
      //transform: rotate(-50deg);
      position:relative;
      margin:0 auto;
      >span{
      height: 12.5em;
      position: absolute;
      width: 5.5em;
      left: 0;
      top: -.3em;
      transform-origin: bottom center;
      }
      .char-1{transform:rotate( -12deg);}
      .char-2{transform:rotate( -9deg);}
      .char-3{transform:rotate( -6deg);}
      .char-4{transform:rotate( -2deg);}
      .char-5{transform:rotate( 2deg);}
      .char-6{transform:rotate( 6deg);}
      .char-7{transform:rotate( 9.25deg);}
      .char-8{transform:rotate( 12.5deg);}
    }
  }
}
#logo-carrboro{
  bottom:-1.5rem;
  @include breakpoint(l) {
    bottom:-1.75rem;
  };
}
#hours-line{
  max-width:17rem;
  @include breakpoint(m) {
    max-width:48rem;
  };
}
.garland-icon{
  display:none;
  @include breakpoint(s) {
    display:inline-block;
    width:3rem;
  };
  @include breakpoint(l) {
    width:5rem;
  };

}




body{
  background-color:$white;
  color:$navy;
  //border-left:2rem solid $red;
}
.story{
  //margin-top:2em;
  margin-bottom:3rem;
}
.number{
  font-family:$condensed-font-family;
  font-size:8rem;
  @include breakpoint(m) {
    font-size:12rem;
  };
  @include breakpoint(l) {
    font-size:14rem;
  };
  @include breakpoint(xl) {
    font-size:16rem;
  };
  color:$red;
  line-height:.875;
  margin-bottom:3rem;
  margin-left: -.75rem;
  letter-spacing: -.25rem;
}
.unit{
  color:$red;
  font-weight:600;
  margin-bottom:0;
}
blockquote{
  background-color:$red;
  color:$white;
  font-size:2rem;
  padding:4rem;
  font-weight:600;
}

.pane{
  //display:none;
  //transition:.5s;
  overflow:hidden;
  max-height:9999px;
  &.closed{
    max-height:1px;
  }
}
section{
  position:relative;
  //overflow-x:hidden;
}
#WhatIsBB{
  //color:$white;
  //background-color:$navy;
}

.fundraiser-name{
  transform:rotate(90deg);
  transform-origin: 6% 75%;
  @include breakpoint(xl) {
    transform:rotate(45deg);
    transform-origin: 20% 200%;
  };
}
