a {
  transition: all .3s;
  //color:$black;
  text-decoration:none;
  //font-weight:600;
//  box-shadow:0 1px 0 0 $black40;
}
a:link,
a:visited{
    //color:$black;
}
.link { text-decoration: none; }
a:hover {
  //color:$b70;
//  box-shadow:0 2px 0 0 $black40;
}
a:active{
  transition: all .3s;
  //color:$b80;
//  box-shadow:0 2px 0 0 $black;
}
a.button{
  transition: background-color .3s;
  text-decoration:none;
  //color: black;
  //padding:$space-s $space-m;
  //box-shadow: 0 0 0 2px black;
  padding:$space-s $space-xl;
  &:hover{
    background-color:darken($orange, 15%);
    //box-shadow: 0 0 0 4px black;
  }
  &:active{
    background-color:$black80;
    //box-shadow: 0 0 0 4px black;
  }
}
